body {
    font-family: roboto, sans-serif;
    margin: 0;
    width: 100vw;
}

.nav-bar {
    background-color: #1F2937;
    color: white;
    display: flex;
    padding: 1rem 8rem 4rem 8rem;
}

.nav-list {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.heading {
    font-size: 24px;
    display: flex;
    margin: 0;
    padding: 0;
}
.right-heading {
    display: flex;
    gap: 20px;
    font-size: 18px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}


a:link, a:visited {
    color: white;
}

.hero {
    display: flex;
    background-color: #1F2937;
    color: white;
    padding: 1rem 8rem 4rem 8rem;
}

h1 {
    margin: 0;
    font-size: 48px;
    font-weight: bold;
}

.placeholder {
    height: 12rem;
    width: 40rem;
    background-color: gray;
    display: flex;
    margin-left: 2rem;
}

.placeholder-text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.left {
    display: flex;
    flex-direction: column;

}

.hero-button {
    background-color: #3882f6;
    color: white;
    font-weight: bold;
    font-family: roboto, sans-serif;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    padding: 5px 0;
    border: #3882f6;
}

h2 {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937;
}

.body {
    padding: 1rem 8rem 4rem 8rem;
    display: flex;
    flex-direction: column;
}

.box {
    width: 10rem;
    height: 10rem;
    background-color: white;
    border: solid;
    border-color: #3882f6;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

.images {
    display: flex;
    gap: 2rem;
    justify-content: center;
}

.testimony {
    background-color: #e5e7eb;
    height: 18rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 8rem 4rem 8rem;
    flex-direction: column;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.thor {
    font-weight: bold;
    margin-left: 38rem;
}