body {
    font-family: roboto, sans-serif;
    margin: 0;
}

.nav-bar {
    background-color: #1F2937;
    color: white;
    display: flex;
}

.nav-list {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.heading {
    font-size: 24px;
    display: flex;
    margin-left: 8rem;    
}
.right-heading {
    display: flex;
    margin-right: 8rem;
    gap: 20px;
    font-size: 18px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}


a:link, a:visited {
    color: white;
}

.hero {
    background-color: #1F2937;
    color: white;
    
}

